server {
    listen ${NGINX_SITE_PORT};
    server_name _;

    root ${NGINX_SITE_ROOT}/default;
    
    error_log /proc/self/fd/2;
    access_log /proc/self/fd/1;

    location / {
        index index.html index.htm;
    }
}
