server {
    listen ${NGINX_SITE_PORT};
    server_name ${NGINX_SITE_NAME};

    root ${NGINX_SITE_ROOT}/${NGINX_SITE_NAME};
    
    error_log /proc/self/fd/2;
    access_log /proc/self/fd/1;

    location / {
        index index.html index.htm;
    }
}
